body{
    background-image: url("01c66dca-096a-494e-a21e-f44b9be06d0c-removebg-preview.png");
    background-repeat: no-repeat;
    background-position: top right;
    background-attachment: scroll;
}

h1{
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: sans-serif;
    border: 2px solid white;
    text-shadow: 2px 2px 5px black, 0 0 25px rgb(10, 10, 177), 0 0 4px darkblue;
}

.para{
    font-size: 20px;
    font-family: Verdana;
    background-color: black;
    color: white;
    text-transform: capitalize;
    font-weight: 500;
    font-style: italic;
}

.ODERS img{
    vertical-align: middle;
}

.indenting{
    color: white;
    text-indent: 50px;
    letter-spacing: 3px;
    line-height: 2.5;
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
}

